.form {
  max-width: 430px;
  background-color: #fff;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 555px) {
  .form {
    max-width: 282px;
  }
}
