.form-popup {
  display: flex;
  max-width: 358px;
  min-height: 84px;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 555px) {
  .form-popup {
    max-width: 238px;
    min-height: 84px;
  }
}
