.profile-info__activity {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 555px) {
  .profile-info__activity {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    grid-column: 1/-1;
    justify-self: center;
  }
}
