.profile__activity {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}

@media screen and (max-width: 865px) {
  .profile__activity {
    max-width: 300px;
  }
}

@media screen and (max-width: 555px) {
  .profile__activity {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    grid-column: 1/-1;
    justify-self: center;
    max-width: 200px;
  }
}

