.form-popup__text {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.form-popup__text::placeholder {
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
