.popup__button-close {
  border: 0;
  padding: 16px;
  background-color: inherit;
  cursor: pointer;
  transition: opacity 0.2s linear;
  background-image: url(../../../images/Close\ Icon.svg);
  background-size: cover;
  margin-bottom: 8px;
  align-self: end;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 555px) {
  .popup__button-close {
    padding: 10px;
    margin-bottom: 16px;
  }
}
