.form__container {
  margin: 48px auto 48px;
  display: flex;
  max-width: 358px;
  min-height: 84px;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 555px) {
  .form__container {
    margin: 75px auto 45px;
    max-width: 238px;
    min-height: 84px;
  }
}
