@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/_place/header_place_center.css);

@import url(../blocks/content/content.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__button/profile__button.css);

@import url(../blocks/profile-item/profile-item.css);
@import url(../blocks/profile-item/__avatar/profile-item__avatar.css);

@import url(../blocks/profile-info/profile-info.css);
@import url(../blocks/profile-info/_place/profile__info_place_header.css);
@import url(../blocks/profile-info/__button/profile-info__button.css);
@import url(../blocks/profile-info/__name/profile-info__name.css);
@import url(../blocks/profile-info/__activity/profile-info__activity.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);

@import url(../blocks/place-info/place-info.css);
@import url(../blocks/place-info/__name/place-info__name.css);
@import url(../blocks/place-info/__button/place-info__button.css);

@import url(../blocks/footer/__copyright/footer__copyright.css);

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
}

.popup__container {
  width: 430px;
  height: 330px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
}

.popup__container_name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin:34px 0 0 36px ;

}

.info {
  display: flex;
  margin: 54px auto 48px;
  width: 358px;
  height: 84px;
  flex-direction: column;
  justify-content: space-between;
}

.popup__container_text {
  box-sizing: border-box;
  height: 27px;
  border: 0;
  padding: 0;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__container_text::placeholder {
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__container_button {
  background-color: black;
  color: #fff;
  width: 358px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto 37px;
  border-radius: 2px;
  transition: opacity 0.2s linear;
  border: 0;
}

.popup__container_button:hover {
  opacity: 0.8;
}

.popup__container_button_exit {
  width: 32px;
  height: 32px;
  border: 0;
  background-color: aquamarine;
  align-self: end;
  padding: 0;
}
