.place-info__button {
  margin-right: 20px;
  border: none;
  transition: opacity 0.2s linear;
  align-self: center;
  background-color: inherit;
  padding: 9.5px 11px ;
  cursor: pointer;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
}

.place-info__button:hover {
  opacity: 0.5;
}

.place-info__button:focus {
  background-image: url(../../../images/active.svg);
}

.place-info__button:focus:hover {
  opacity: 1;
}
